# Auto detect text files and perform LF normalization
Drivers/* linguist-vendored=false
Middlewares/* linguist-vendored=false
Debug/* linguist-vendored=false
.settings/* linguist-vendored=false

* text=auto

